
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            margin: auto;
            width: 25%;
            border: 3px solid black;
            padding: 25px;
        }
        .center2 {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .center3 {
            margin: auto;
            width: 100%;
        }
        table, th, td {
            border:1px solid black;
        }
        
    </style>
    <title>Account Roster</title>
</head>
<body>
<h1>Account Roster </h1>
  
    <form action="/Home/accountList/" method="post">
      {% csrf_token %}
      <input type="text" name="name" placeholder = "name">
      <input type="text" name="username" placeholder = "username"></br></br>
      <label for="roles">Role Filter</label></br>
      <select name="roles" id="roles">
        <option value="">None</option>
        <option value="Admin">Admin</option>
        <option value="Instructor">Instructor</option>
        <option value = "Teacher-Assistant">Teacher Assistant</option>
      </select>
      <br></br>
      <input type="submit" value="Submit">
    </form>
  <div>

  <div class="center">
    <h2 class = "center3"> Saved Sections </h2>
    <table class="center2">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Edit Account Info</th>
        <th>Account Assignments</th>
        <th>Delete Account</th>

      </tr>
    {%for account in accountList %}
      <tr>
        <td>{{ account.username}}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.role }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.phone_number }}</td>
        <td><a href = "{% url 'accountInfo' pk=account.pk %}">Edit Account Info</a></td>
        <td><a href = "{% url 'accountAssignment' pk=account.pk %}">Account Assignments</a></td>
        <td>Delete</td>
      </tr>
      {% endfor %}
    </table>
  </div>
      
</body>
</html>
