
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <style>
        .center {
            text-align:center;
            margin-left: auto;
            margin-right: auto;
            width: 80%;

        }
        .center2 {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .center3 {
            margin: auto;
            width: 100%;
        }
         table,th,td{
            border: 1px solid black;
            padding: 5px;
            border-collapse: collapse;
        }
    </style>
    <title>Account Assignments</title>
</head>
<body>
    <h1 class = "center" >{{user.name}} {{user.role}} Assignments</h1>
    <div class = "center2" align="center">
            <br>
        Assigned: <b>{{user.assigned}}</b>
            <br>
            <br>
            Assigned Sections:
            <br>
            <table>
            <br>
            <tr>
              <th>Course</th>
              <th>Section ID</th>
              <th>Type</th>
                {% if usr_role == "Admin" or usr_role == "Instructor" %}
              <th> Remove Assignment </th>
                {% endif %}
            </tr>
          {%for section in sections %}
            <tr>
              <td>{{ section.course_parent.course_name }} {{ section.course_parent.course_id }}</td>
              <td>{{ section.section_id }}</td>
              <td>{{ section.type }}</td>
                {% if usr_role == "Admin" or usr_user == "Instructor" %}
              <td> delete link </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% if usr_role == "Admin" or usr_role == "Instructor" %}
        <form action="/Home/accountList/accountAssignment/{{user.pk}}/" method="post"> 
        {% csrf_token %}
            <br>
            <br>
            Add Section:
            <td><select name="section" id="section-selection">
              {% for newsection in allSections %}
                <option value="{{ newsection }}">{{newsection.course_parent}} {{newsection.course_id}} {{newsection.course_type }}</option>
              {% endfor %}
          </select></td>
          <input type="submit" value="Submit">
        </form>
        <br>
      <h3>{{ message }}</h3>
        {% endif %}
      <br>
      <a href = "/Home/accountList/"> Go Back </a></br>
      <br>
      <a href = "/Home/"> Go Home </a> </br>
    </div>
</body>
</html>
