!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <div>
    <form action="/Home/createAccount" method="post"> 
      {% csrf_token %}
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"><br>
        Username: <input type="text" name="username"><br>
        Email: <input type="text" name="email"><br>
        Password: <input type="text" name="password"><br>
        Phone Number: <input type="text" name="phone_number"><br>
        Role:<select name="role" id="role-selection">
          <option value="Admin">Admin</option>
          <option value="Instructor">Instructor</option>
          <option value="Teacher-Assistant">Teacher Assistant</option>
          </select><br>
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html> 
