
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account List</title>
</head>
<style>
th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
</style>
<body>
<h1 align="center">User Account Roster</h1>
		Filter for:
		<form action="/Home/accountList/" method="post">
		    {% csrf_token %}
		    <table>
		    <tr>
		    <td>Name : <input type="text" name="name" placeholder = "name"></td>
		    <td>Username : <input type="text" name="username" placeholder = "username"></td>
		    <td><label for="roles">Role : </label>
		    <select name="roles" id="roles">
				<option value="">None</option>
				<option value="Admin">Admin</option>
				<option value="Instructor">Instructor</option>
				<option value = "Teacher-Assistant">Teacher Assistant</option>
			</select></td>
			</tr>
			</table>
			<input type="submit" name="input_button" value="Submit">
			<input type="submit" name="input_button" value="Clear Filter">
    </form>
	<br>
	<div align="center">
		<table style="width:75%; border-collapse: collapse;">
			<tr>
				<th>Username</th>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				{% if isAdmin %}
					<th>Phone Number</th>
					<th>Address</th>
					<th>Edit Info</th>
					<th>Delete User</th>
				{% endif %}
			</tr>
			{% for account in account_list %}
				<tr>
					<td><a href = "{% url 'accountDetails' pk=account.pk %}">{{account.username}}</a></td>
					<td>{{account.name}}</td>
					<td>{{account.email}}</td>
					<td>{{account.role}}</td>
					{% if isAdmin %}
						<td>{{account.phone_number}}</td>
						<td>{{account.address}}</td>
						<td><a href = "{% url 'editAccount' pk=account.pk %}">edit {{account.username}}</a></td>
						<td><a href = "{% url 'deleteAccount' pk=account.pk %}">delete {{account.username}}</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
        {% if not account_list %}
            <h3>No accounts found</h3>
        {% endif %}
	</div>
</body>
</html>
