
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <style>
        .center {
            text-align:center;
            margin-left: auto;
            margin-right: auto;
            width: 80%;

        }
        .center2 {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .center3 {
            margin: auto;
            width: 100%;
        }
         table,th,td{
            border: 1px solid black;
            padding: 5px;
            border-collapse: collapse;
        }
    </style>
    <title>Course Section Assignments</title>
  </head>
<body>
<h1 class = "center"> Course {{course.course_id}} {{course.course_name}} Sections </h1>
  <div class = "center2" align="center">
  {%for section in sections %}
      <table>
      <br>
      <tr>
        <th>Course</th>
        <th>Section ID</th>
        <th>Type</th>
        {% if usr_role == "Admin"%}
        <th> Edit Section Info </th>
        <th>Delete Section</th>
            {% endif %}
        </tr>
            <tr>
              <td>{{ section.course_parent.course_name }} {{ section.course_parent.course_id }}</td>
              <td>{{ section.section_id }}</td>
              <td>{{ section.type }}</td>
                {% if usr_role == "Admin"%}
              <td> edit section info link </td>
              <td><a href="{% url 'deleteSection' section.pk %}">Delete</a></td>
                {% endif %}
            </tr>
            </table>
            <br>
            <table>
            {{section}}'s Assigned Users:
            <tr>  
              <th>Name</th>
              <th>Username</th>
              <th>Role</th>
              <th>Email</th>
              <th>Remove Assignment</th>
            </tr>
              {% for user in section.assigned_users.all %}
              <tr>
                <td> {{user.name}} </td>
                <td> {{user.username}} </td>
                <td> {{user.role}} </td>
                <td> {{user.email}} </td>
                {% if usr_role == "Admin" or usr_role == "Instructor" %}
              <td> Remove Assignment </td>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
              <form action="/Home/courseList/courseSection/{{course.pk}}/" method="post">
              {% csrf_token %}
                  <br>
              Add Users to {{section}}:
                  </br>
                  <select id = "{{section}}" name="{{section}}">
                        <option value="None">None</option>
                      {% if usr_role == "Instructor"%}
                      {%for ta in ta_pool%}
                          <option value="{{ta}}">{{ta}}</option>
                      {% endfor %}
                      {% endif %}
              
                  {%if usr_role == "Admin"%}
                      {%for usr in usr_pool%}
                      <option value="{{usr}}">{{usr}}</option>
                      {% endfor %}
                      {% endif %}
                  </select>
        <input type="submit" value="Submit">
        </form>
        <br>
      {% endfor %}
  </div>
