

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            margin: auto;
            width: 25%;
            border: 3px solid black;
            padding: 25px;
        }
        .center2 {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .center3 {
            margin: auto;
            width: 100%;
        }
        table, th, td {
            border:1px solid black;
        }

    </style>
    <title>Course List</title>
</head>
<body>
<h1>Search Courses</h1>

    <form action="/Home/courseList/" method="post">
      {% csrf_token %}
      <p>Course ID</p>
      <input type="number" min="0" max="9999" name="course_id" placeholder = "course id ">
      <p>Course Name</p>
      <input type="text" name="course_name" placeholder = "course name"></br>
      <input type="submit" value="Submit">
    </form>

  <div class="center">
    <h2 class = "center3"> Course Catalog </h2>
    {%if not courselist %}
      <p> no courses found </p>
    {% endif %}
    <table class="center2">
      <tr>
        <th>Course Subject</th>
        <th>Course ID</th>
        <th>Course Title</th>
        <th>Semester</th>
        <th>Edit Course Info</th>
        <th>Edit Course Sections</th>
        <th>Delete Course</th>

      </tr>
    {%for course in courseList %}
      <tr>
        <td>{{ course.course_subject}}</td>
        <td>{{ course.course_id }}</td>
        <td>{{ course.course_title }}</td>
        <td>{{ course.semester }}</td>
        <td>{{ account.phone_number }}</td>
        <td>Edit Course Info</td>
        <td>Edit Course Sections</td>
        <td><a href="{% url 'deleteCourse' course.id %}">Delete</a></td>
      </tr>
      {% endfor %}
      <br>
      <a href = "/Home/"> Go Home </a>
    </table>
  </div>
</body>
</html>
