<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
<h1>Course List Page</h1>

<form action="{% url 'courseList' %}" method="post">
    {% csrf_token %}
    <p>Course ID</p>
    <input type="number" min="0" max="9999" name="course_id" placeholder="course id">
    <p>Course Name</p>
    <input type="text" name="course_name" placeholder="course name"><br>
    <input type="submit" value="Submit">
</form>

<div>
    <h3>Courses:</h3>
    {% if not courselist %}
        <p>No courses found</p>
    {% else %}
        <table>
        {% for course in courselist %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_id }}</td>
                {% if is_admin %}
                <td>
                    <a href="{% url 'deleteCourse' course.id %}">Delete</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
</body>
</html>
