<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            margin: auto;
            width: 25%;
            border: 3px solid black;
            padding: 25px;
        }
        .center2 {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .center3 {
            margin: auto;
            width: 100%;
        }
        table, th, td {
            border:1px solid black;
        }

    </style>
    <title>Create Section</title>
</head>
<body>
    <div class="container">
        <h2>Create Section</h2>
        <form method="post" action="{% url 'createSection' %}">
            {% csrf_token %}
            <div>
                <label for="course_parent">Course:</label>
                <select name="course_parent" id="course_parent" required>
                    {% for course in courses %}
                    <option value="{{ course.id }}">{{ course}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="section_id">Section ID:</label>
                <input type="text" name="section_id" id="section_id" required>
            </div>
            <div>
            <fieldset>
                <legend>Days:</legend>
                <label><input type="checkbox" name="days" value="Monday"> Monday</label>
                <label><input type="checkbox" name="days" value="Tuesday"> Tuesday</label>
                <label><input type="checkbox" name="days" value="Wednesday"> Wednesday</label>
                <label><input type="checkbox" name="days" value="Thursday"> Thursday</label>
                <label><input type="checkbox" name="days" value="Friday"> Friday</label>
            </fieldset>

            </div>
            <div>
                <label for="is_online">Is Online:</label>
                <input type="checkbox" name="is_online" id="is_online">
            </div>
            <div>
                <label for="start_time">Start Time:</label>
                <input type="time" name="start_time" id="start_time">
            </div>
            <div>
                <label for="end_time">End Time:</label>
                <input type="time" name="end_time" id="end_time">
            </div>
            <div>
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" >
            </div>
            <div>
                <label for="section_type">Section Type:</label>
                <select name="section_type" id="section_type" required>
                    <option value="LEC">Lecture</option>
                    <option value="LAB">Lab</option>
                </select>
            </div>
            <div>
                <button type="submit">Create Section</button>
            </div>
        </form>
        {% if check == False %}
            <h3> Section was not Created </h3>
        {% endif %}
        {% if check == True %}
            <h3> Section was Created </h3>
        {% endif %}
        <div class="center">
          <h2 class = "center3"> Saved Sections </h2>
          <table class="center2">
            <tr>
              <th>Course</th>
              <th>Section ID</th>
              <th>Type</th>
              <th>Location</th>
              <th>Day</th>
              <th>Time</th>
            </tr>
            {% for section in sections %}
            <tr>
              <td>{{ section.course_parent.course_name }} {{ section.course_parent.course_id }}</td>
              <td>{{ section.section_id }}</td>
              <td>{{ section.type }}</td>
              <td>{{ section.location }}</td>
                <td>{{ section.meeting_days }}</td>
              <td>{{ section.start_time }} - {{ section.end_time }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
</body>
</html>
